<h1>WELCOME TO GUESSING GAME!</h1>
<br>

<body>
<h3>Please enter your name</h3>
<form action="/name" method="post">
  <input type="text" name="Player">
  <input type="submit" value="Submit">
</form>
</body>